body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.home-intro, .about-me, .portfolio, .contact-form {
    text-align: center;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
